* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg) no-repeat center;
}
.light {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg) no-repeat center;
}

body {
  /*background: color -> image -> repeat -> position/size */

  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 58.8rem;
  padding: 0 2.4rem;
  margin: 5.6rem auto 0px;
}

#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
}

#profile p {
  font-weight: 500;
  line-height: 2.4rem;

  margin-top: 8px;
}

#switch {
  width: 6.4rem;
  position: relative;

  margin: 4px auto;
}

#switch button {
  width: 3.2rem;
  height: 3.2rem;
  background: white var(--switch-bg-url);
  border: 0;
  border-radius: 50%;

  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 6.4rem;
  height: 2.4rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 99.9rem;
}

/*links*/
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface-color);

  padding: 1.6rem;

  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  font-weight: 500;
  text-decoration: none;

  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 3.2rem 0;

  font-size: 2.4rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.6rem;

  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 2.4rem 0;
  text-align: center;
  font-size: 1.4rem;
}

footer a {
  text-decoration: none;
}
